body {

  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #40514E;
  font-size: 18px;
  font-weight: bold;
}

h1 {

  color: #66BFBF;
  margin: 50px auto;
  font-family: "Ubuntu", sans-serif;
  font-size: 562.5%;
  line-height: 2;

}
h2 {
  color: #66BFBF;
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}
h3 {
  font-family: "Roboto", sans-serif;
  color: #11999E;
}

p {
line-height: 2;
}

.Top-Container {
    background-color: #041C32;
    position: relative;
    padding-top: 100px;
}
.pro-intro{
  width: 30%;
  margin: auto;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top: 40px;
}
.bottom-cloud{
  position: absolute;
  top: 300px;
  left: 250px;
  bottom: 300px;
}

.Middle-Container{
    margin: 100px 0;

}

.skill-row{
width: 50%;
margin: 100px auto 100px auto;
text-align: left;
}

.html-img {
  width: 128px;
  float: left;
  margin-right: 30px;
  line-height: 2;
}
.mountain-img{
  margin-bottom: 0;
}
.exalibur {
  width: 128px;
  float: right;
  line-height: 2;
}
.contact-me
{
  text-align: center;
  width: 40%;
  margin: 40px auto 60px;
}
.Bottom-Container{
  background-color: #041C32;
}
.pro {
  text-decoration: underline;
}
hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 5%;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}
a{
  color: #11999E;
  font-family: "Roboto", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6
}

.copyright{
  padding: 20px 0px
  font-size: 0.75rem;
  color: #EAF6F6
}
.btn {
  background: #658499;
  background-image: -webkit-linear-gradient(top, #658499, #7ba1b8);
  background-image: -moz-linear-gradient(top, #658499, #7ba1b8);
  background-image: -ms-linear-gradient(top, #658499, #7ba1b8);
  background-image: -o-linear-gradient(top, #658499, #7ba1b8);
  background-image: linear-gradient(to bottom, #658499, #7ba1b8);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: "Ubuntu", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #b8b6b8;
  background-image: -webkit-linear-gradient(top, #b8b6b8, #66BFBF);
  background-image: -moz-linear-gradient(top, #b8b6b8, #66BFBF);
  background-image: -ms-linear-gradient(top, #b8b6b8, #66BFBF);
  background-image: -o-linear-gradient(top, #b8b6b8, #66BFBF);
  background-image: linear-gradient(to bottom, #b8b6b8, #66BFBF);
  text-decoration: none;
}
